*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Finger Paint', cursive;
}

.container {
  display: grid;
  text-align: center;
  padding: 40px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(81, 65, 65);
  
}

.game-board {
  width: 310px;
  display: grid;
  background-color: rgb(234, 157, 15);
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  gap: 5px;  
  position: relative;
}

h1{
  font-size: 54px;
  text-transform: uppercase;
}

.boxes{
  background-color: rgb(81, 65, 65);
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

button{
  background-color: rgb(234, 157, 15);
  color: rgb(81, 65, 65);
  padding: 10px 20px;
  border: 5px solid rgb(81, 65, 65);
  border-radius: 10px;
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 600;
  margin-bottom: 30px;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgb(106, 91, 91);
  color: rgb(234, 157, 15);
}



h1{
  color: rgb(234, 157, 15);
}

